

 /* Styling for success/error messages */
  
 .success-message {
  color: green;
  background-color: #f0fff0;
  border: 1px solid green;
  border-radius: 5px;
  margin-top: 10px;
}

.error-message {
  color: red;
  background-color: #fff0f0;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
}


/* .submit-button {
    background-color: #1976D2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    font-size: 16px;
  } */