
 

.homepage-img{
    margin-top: 30px;
    margin-bottom:30px;    
    background-position: center;
    height: 50vh; 
    width: 50%; 
    border-radius: 5px;    
    box-shadow: 1px 3px 18px 5px rgba(0,0,0,0.49);  
  }

.img-container img{
    height: 30vh; /* Set a specific height for the image */
    width: 100%;  /* Set the width to 100% of the container */
    object-fit: cover; /* Cover the container while preserving aspect ratio */
    object-position: center; /* Center the image within the container */
    margin: 0; /* Ensure no additional margin is added */
    border-radius: 5px;
}

.homepage-photo{
    margin: 5px;
} 


.homepage-header{
    margin: 30px;
    font-size: 30px;
    /* color:#3B403C; */
    color:#689F38;

} 


.parks-link {
    display: inline-block; /* Ensure the link respects the margin */
    margin: 5px; /* Adjust the margin values as needed */
    font-size: 20px;
    color:#33691E;
}

.parks-link:hover{ 
    color:#747bff; 
    text-decoration: underline; 
}

.homepage-login{
    color:#33691E;
}
     

