.navbar-nav {     
    background-color:#3B403C;
    color: #fff;
    display: flex; 
    justify-content: space-between;      
    padding: 5px 10px;
    align-items: center;
    border-radius: 5px;
  }
  
  .nav-link {     
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
  }

    
  .nav-link:hover {
    background-color: #555;
  } 
  
   .nav-right{
    display: inline-block;
    margin-right: 10px;
    
  } 
  
  .nav-right {
    display: flex; /* Changed from inline-block to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 10px;
    
  }
  
  
  
  .home-nav-link{
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
  }

  .parkfinder-link {
    font-size: 25px;     
    color:	#8BC34A;
    
  }