.parkdetail-tab{
    color: white;
}

.card-div{
  justify-content: center;
}


  .park-description-container{      
    border: 3px solid #353535;
    padding: 20px;
    border-radius: 5px;
  }

  .park-detail-headers{
    background: #DDDDDD;     
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .review{
    color: #8BC34A;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: 14px;
   
    
    
  }

 