.nativeselect{
    background-color: white;
    color:black;
    /* border: 3px solid rgb(163, 89, 19); */
    border: 3px solid #353535;
    border-radius:5px;
}

.park-by-state{
  font-size: 25px;
  margin: 20px 20px 20px 2px;
  font-weight:bold;
  color:#3B403C;
  text-align:left;
  font-size: 20px;
  
}


/* old
  border: 3px solid rgb(202, 111, 26);
   */