  /* Styling for success/error messages */

.success-message {
  color: green;
  background-color: #f0fff0;
  border: 1px solid green;
  border-radius: 5px;
  margin-bottom: 20px;
}


.error-message {
  color: red;
  background-color: #fff0f0;
  border: 1px solid red;
  border-radius: 5px;
}







/* old code ``````````````````````````````````````
.park-fees  {
    border: 3px solid #353535;
    /* border: 1px solid #ddd; 
    padding: 16px;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    background-color: #DDDD;
  }



.park-fees ul {
  list-style-type: none; /* Remove default list styling */
  /* padding: 0;
} */

/* .park-fees li {
  display: flex;
  align-items: center; /* Align items vertically */
  /* margin-bottom: 10px; /* Space between list items */


/* .park-fees label {
  margin-right: 10px; /* Space between checkbox and text */
/* }  */

/* .submit-button.submitted {
  background-color: lightgrey;
  cursor: not-allowed;
}

.check-box.submitted{
  background-color: lightgrey;
  cursor: not-allowed;
} */ 




