.reviews{
    margin: 20px;
    font-size: 20px;
   
}

/* .review-container{
    background-color: #DDDDDD;
} */


/* .park-event-container { 
    border: 3px solid #353535;
    /* border: 3px solid #aca8a8; */
    /* padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px; /* Optional: Adds space between items */
    /* background-color: #DDDDDD;
  } */ 