

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
  }
  
  .no-reviews {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
  }



/* .review-container{
    background-color: #DDDDDD;
} */


/* .park-event-container { 
    border: 3px solid #353535;
    /* border: 3px solid #aca8a8; */
    /* padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px; /* Optional: Adds space between items */
    /* background-color: #DDDDDD;
  } */ 