.review-success{     
    color: green;    
    background-color: #f0fff0;
    border: 1px solid green;
    font-weight: bold;
}

.error-message {
    color: red;
    background-color: #fff0f0;
    border: 1px solid red;
  }