.card{
    /* border: 3px solid rgb(163, 89, 19); */
    border: 3px solid #353535;
    padding: 16px;
    border-radius: 4px;
    list-style: none;
    margin: 30px;;
}




/* old
border: 3px solid #bbb8b8;


*/