.items-container{
    border: 3px solid #353535;
    /* border: 1px solid #bbb8b8; */
    margin: 40px;
    background-color: #DDDD;

  }

  .items-grouping{

    border-top: 1.5px solid #353535;
    /* border-bottom: 1px solid rgb(121, 117, 117);  */
    /* background-color:#e7e4d0; */
    /* border: 1px solid #bbb8b8; */
   
   
    
  }